.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 1em;
}

.form input {
  padding: 8px 15px;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid #282c34;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form input[type="submit"] {
  background-color: #61dafb;
  border: 1px solid #61dafb;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: white;
  border-color: #282c34;
}

.input_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input_container label {
  font-weight: bold;
  margin-bottom: 0.4em;
}
